services:
  db:
    image: postgres
    restart: always
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: fgS0VI3k40WxWlb
      POSTGRES_DB: notenow
    volumes:
      - pgdata:/var/lib/postgresql
volumes:
  pgdata:
